:root {
  --font-family: sans-serif;
  --sub-font-family: serif;
  --main-font-color: #212529;
  --secondary-font-color: #3B3B3B;
  --background-color: #f1f2eb;
  --complimentary-color: #b4acac;
  --black-color: #0c2934;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: #f1f2eb;
}

.logo-image {
  max-width: 150px;
  max-height: 150px;
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
  display: block;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f2eb;
  border-bottom: 1px solid #eee;
  padding-bottom: 30px;
}

.newsletter-title {
  font-size: 24px;
  color: var(--main-font-color);
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-family: var(--font-family);
  font-weight: normal;
}

.lead {
  font-family: var(--font-family);
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.parent_category {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 1px;
  border-radius: 1px;
  background-color: #f1f2eb;
  border-top: 1px solid #b4acac;
  border-bottom: 1px solid #b4acac;
  font-family: var(--font-family);
}

.parent_category h3 {
  background-color: #f1f2eb;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: left;
  padding: 10px 0;
  color: var(--secondary-font-color);
  margin: 2px 2px 2px 20px;
}

.article {
  background-color: #f1f2eb;
  font-family: var(--font-family);
  font-size: 14px;
  margin-bottom: 10px;
  border: 1px solid #b4acac;
  padding: 0px;
  border-radius: 10px;
}

.article p {
  background-color: #f1f2eb;
  font-family: var(--font-family);
  margin-bottom: 20px;
}

.article h4 {
  font-family: var(--font-family);
  color: var(--secondary-font-color);
  font-size: 10px;
  font-weight: lighter;
  text-align: right;
  margin: 10px 10px 10px 10px;
}

.article-image,
.article-title {
  background-color: #f1f2eb;
  font-family: var(--font-family);
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #b4acac;
}

.article-image h2,
.article-title h2 {
  text-align: left;
  font-size: 22px;
  margin: 5px 20px 20px 15px;
  font-family: var(--font-family);
  font-weight: 300;
}

.article-image img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
  height: auto;
}

.article-title a {
  background-color: #f1f2eb;
  font-family: var(--font-family);
  text-decoration: none;
  color: #000000;
}

.article-summary {
  background-color: #f1f2eb;
  font-size: 13px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.article-summary p {
  background-color: #f1f2eb;
  font-family: var(--font-family);
  color: var(--main-font-color);
  font-size: 16px;
  padding: 16px;
  margin: 5px;
}
